.nav-links
{
    display: inline-block;
    margin: 10px 20px;
    text-decoration: none;
    color: black;
}

.nav-links:hover
{
    font-weight: bold;
    background-color: yellow;
    padding: 0px 10px;
}

