.Footer-Bg
{
    background-image: url("./assets/art1.png");
    padding: 50px 0px;
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
}

.footer-links
{
    display: block;
    text-decoration: none;
    color: black;
    
}